name: ext-mrloop CI
on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        php: ['8.0', '8.1', '8.2', '8.3']
    name: PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v4
      - name: Install PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php }}
      - name: Run tests
        run: |
          git clone https://github.com/markreedz/mrloop.git mrloop && \
          git clone https://github.com/axboe/liburing.git liburing && cd liburing && make && make install && \
          cd ../ && git clone https://github.com/h2o/picohttpparser.git picohttp && \
          phpize && ./configure --with-mrloop="$(pwd)/mrloop" --with-picohttp="$(pwd)/picohttp" && \
          make && make test
